.node-red/.flows_8b680ef84861.json.backup
[{"id":"c06298cb.480288","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"40454b34.47b104","type":"tab","label":"Achievements ","disabled":false,"info":"This is a test to having an achievements dashboard backed by HCS"},{"id":"a9f5e2bb.2d428","type":"websocket-listener","z":"","path":"/testing","wholemsg":"false"},{"id":"7c0918c2.d36d18","type":"inject","z":"c06298cb.480288","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":240,"wires":[["92012390.cdcf4","d33d8c9d.6d57f"]]},{"id":"b80f32dc.2f355","type":"debug","z":"c06298cb.480288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":340,"wires":[]},{"id":"ccb9fa11.b2aa48","type":"comment","z":"c06298cb.480288","name":"hi","info":"","x":350,"y":60,"wires":[]},{"id":"eec5b534.f7c968","type":"comment","z":"c06298cb.480288","name":"","info":"Don't forget to add the storage for sent messages","x":620,"y":140,"wires":[]},{"id":"b82f9534.ef6688","type":"hash-submit","z":"c06298cb.480288","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":450,"y":140,"wires":[[]]},{"id":"80a923ad.05a8c","type":"hash-retrieve","z":"c06298cb.480288","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":750,"y":240,"wires":[["5bceab18.e0dea4"]]},{"id":"e58b53ba.36673","type":"hash-submit","z":"c06298cb.480288","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":410,"y":240,"wires":[["16fd6c9.99b9093"]]},{"id":"16fd6c9.99b9093","type":"delay","z":"c06298cb.480288","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":240,"wires":[["80a923ad.05a8c"]]},{"id":"87a8e0c7.1086a","type":"http in","z":"c06298cb.480288","name":"","url":"/create/id","method":"get","upload":false,"swaggerDoc":"","x":110,"y":520,"wires":[["9fc0176d.318ac8"]]},{"id":"1732c7dd.8a11b8","type":"http response","z":"c06298cb.480288","name":"","statusCode":"200","headers":{},"x":580,"y":520,"wires":[]},{"id":"ac8e498b.3ff868","type":"http in","z":"c06298cb.480288","name":"","url":"/list","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["1fff5349.67027d"]]},{"id":"1fff5349.67027d","type":"hash-retrieve","z":"c06298cb.480288","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":310,"y":420,"wires":[["45d1b5ed.fc1b6c"]]},{"id":"45d1b5ed.fc1b6c","type":"http response","z":"c06298cb.480288","name":"","statusCode":"","headers":{},"x":450,"y":420,"wires":[]},{"id":"92012390.cdcf4","type":"function","z":"c06298cb.480288","name":"","func":"msg.payload = \"Hello World\"\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["e58b53ba.36673"]]},{"id":"5bceab18.e0dea4","type":"function","z":"c06298cb.480288","name":"","func":"function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["b80f32dc.2f355"]]},{"id":"250859da.6a62e6","type":"http in","z":"40454b34.47b104","name":"API","url":"/api/submit","method":"post","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["e2a9beb4.fdf24","c0efcf7c.9115d"]]},{"id":"c0efcf7c.9115d","type":"debug","z":"40454b34.47b104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":540,"wires":[]},{"id":"582b337c.4182fc","type":"http response","z":"40454b34.47b104","name":"","statusCode":"200","headers":{},"x":860,"y":260,"wires":[]},{"id":"be5f31.f52020d","type":"hash-retrieve","z":"40454b34.47b104","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":330,"y":440,"wires":[["b867f3c2.2cff9"]]},{"id":"b867f3c2.2cff9","type":"function","z":"40454b34.47b104","name":"","func":"// get the relevant events from HCS.\n\nfunction hex_to_ascii(str1){\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n}\n\nlet hcs = JSON.parse(msg.payload);\n\nvar newArray = hcs.data.map(function(item){\n    return hex_to_ascii(item.message);\n});\n\n \nmsg.payload = newArray;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["c0efcf7c.9115d"]]},{"id":"e2a9beb4.fdf24","type":"function","z":"40454b34.47b104","name":"","func":"msg.payload = msg.req.query;\ndelete msg.req;\ndelete msg.res;\nmsg.payload = \"helo\"\n// overwrite the payload with the body of the request.\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["9039d6bf.f29be8","c0efcf7c.9115d"]]},{"id":"9039d6bf.f29be8","type":"hash-submit","z":"40454b34.47b104","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":550,"y":240,"wires":[["582b337c.4182fc","c0efcf7c.9115d"]]},{"id":"d33d8c9d.6d57f","type":"debug","z":"c06298cb.480288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":100,"wires":[]},{"id":"627659ef.166918","type":"http in","z":"c06298cb.480288","name":"","url":"/revoke/id","method":"get","upload":false,"swaggerDoc":"","x":120,"y":580,"wires":[["d012e607.3a8588"]]},{"id":"b4824e77.b6ee9","type":"http in","z":"c06298cb.480288","name":"","url":"/check/id","method":"get","upload":false,"swaggerDoc":"","x":130,"y":660,"wires":[["8f9893cc.d9f"]]},{"id":"9fc0176d.318ac8","type":"hash-submit","z":"c06298cb.480288","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":320,"y":500,"wires":[["1732c7dd.8a11b8"]]},{"id":"d012e607.3a8588","type":"hash-submit","z":"c06298cb.480288","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":410,"y":580,"wires":[["1732c7dd.8a11b8"]]},{"id":"8f9893cc.d9f","type":"hash-retrieve","z":"c06298cb.480288","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":400,"y":660,"wires":[["1732c7dd.8a11b8"]]}]