flows.json
[{"id":"56b32da6.537f54","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"99200218.77b97","type":"inject","z":"56b32da6.537f54","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":340,"wires":[["5efa5a00.d12b94"]]},{"id":"e7d5f7e1.1273d8","type":"debug","z":"56b32da6.537f54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":340,"wires":[]},{"id":"95d6d94c.0b8f68","type":"comment","z":"56b32da6.537f54","name":"hi","info":"","x":350,"y":60,"wires":[]},{"id":"5f3ff8ed.0ccf08","type":"comment","z":"56b32da6.537f54","name":"","info":"Don't forget to add the storage for sent messages","x":620,"y":140,"wires":[]},{"id":"4d01b235.f9006c","type":"hash-submit","z":"56b32da6.537f54","name":"hash-submit","priv":"302e020100300506032b657004220420e691fd29f92974acc2ee6a9d0cb6f361451a3e090b97c965659ece114c779a58","accountId":"0.0.68347","network":"testnet","topic":"0.0.68348","x":390,"y":140,"wires":[[]]},{"id":"d8fd2cbf.3a571","type":"hash-retrieve","z":"56b32da6.537f54","name":"hash-retrieve","topicId":"0.0.68348","network":"testnet","apiKey":"5de24ce8a417d791eed4962477863d24a236995d","x":770,"y":340,"wires":[["d7d9daf3.9ece48"]]},{"id":"a5e24d13.1ac8f","type":"hash-submit","z":"56b32da6.537f54","name":"hash-submit","priv":"302e020100300506032b657004220420e691fd29f92974acc2ee6a9d0cb6f361451a3e090b97c965659ece114c779a58","accountId":"0.0.30707","network":"testnet","topic":"0.0.68348","x":390,"y":340,"wires":[["a0e7c67f.c70328"]]},{"id":"a0e7c67f.c70328","type":"delay","z":"56b32da6.537f54","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":340,"wires":[["d8fd2cbf.3a571"]]},{"id":"5ffeb58f.b63b7c","type":"http in","z":"56b32da6.537f54","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["26e759e5.e69816","a5e24d13.1ac8f"]]},{"id":"26e759e5.e69816","type":"function","z":"56b32da6.537f54","name":"add payload","func":"\n\nmsg.payload =\"<html><body><h1>Hello Josh. I've been waiting for you.</h1></body></html>\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":520,"wires":[["aa937461.f41ad8"]]},{"id":"aa937461.f41ad8","type":"http response","z":"56b32da6.537f54","name":"","statusCode":"200","headers":{},"x":580,"y":520,"wires":[]},{"id":"c711a96e.9d7a88","type":"http in","z":"56b32da6.537f54","name":"","url":"/list","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["2d47b17f.ccde2e"]]},{"id":"2d47b17f.ccde2e","type":"hash-retrieve","z":"56b32da6.537f54","name":"hash-retrieve","topicId":"0.0.68348","network":"testnet","apiKey":"5de24ce8a417d791eed4962477863d24a236995d","x":310,"y":420,"wires":[["aead7ba3.305e98"]]},{"id":"aead7ba3.305e98","type":"http response","z":"56b32da6.537f54","name":"","statusCode":"","headers":{},"x":450,"y":420,"wires":[]},{"id":"5efa5a00.d12b94","type":"function","z":"56b32da6.537f54","name":"","func":"msg.payload = \"Hello World\"\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["a5e24d13.1ac8f"]]},{"id":"d7d9daf3.9ece48","type":"function","z":"56b32da6.537f54","name":"","func":"function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["e7d5f7e1.1273d8"]]}]