node-red/flows_d7a3aa7800a6.json
[{"id":"49fb64ed.fe4a6c","type":"tab","label":"Flow 1"},{"id":"f4542767.ce2ec8","type":"tab","label":"Flow 2"},{"id":"229a1e7a.b9e832","type":"http in","z":"49fb64ed.fe4a6c","name":"","url":"/keepalive","method":"get","upload":false,"swaggerDoc":"","x":185.5,"y":102,"wires":[["a5a2dd76.ae44a","8eb1dc2b.16c57"]]},{"id":"8eb1dc2b.16c57","type":"debug","z":"49fb64ed.fe4a6c","name":"","active":true,"console":"false","complete":"false","x":423.5,"y":115,"wires":[]},{"id":"a5a2dd76.ae44a","type":"http response","z":"49fb64ed.fe4a6c","name":"","statusCode":"","headers":{},"x":401.5,"y":155,"wires":[]},{"id":"7497147d.c0c8fc","type":"inject","z":"f4542767.ce2ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":174.5,"y":204,"wires":[["e82b00a2.4fbdc"]]},{"id":"e82b00a2.4fbdc","type":"debug","z":"f4542767.ce2ec8","name":"","active":true,"console":"false","complete":"false","x":420.5,"y":294,"wires":[]}]