node-red/flows_1f555f5bddf3.json
[{"id":"4d59f39c.66e83c","type":"tab","label":"Flow 1"},{"id":"1eb6489a.2763c7","type":"inject","z":"4d59f39c.66e83c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141.5,"y":133,"wires":[["603c00a6.22801"]]},{"id":"603c00a6.22801","type":"debug","z":"4d59f39c.66e83c","name":"","active":true,"console":"false","complete":"false","x":402.5,"y":174,"wires":[]},{"id":"15ed8d25.3e09f3","type":"function","z":"4d59f39c.66e83c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":317.5,"y":300,"wires":[["bba29bc3.11b078"]]},{"id":"ace62d06.c0c85","type":"inject","z":"4d59f39c.66e83c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":320,"wires":[["15ed8d25.3e09f3"]]},{"id":"bba29bc3.11b078","type":"debug","z":"4d59f39c.66e83c","name":"","active":true,"console":"false","complete":"false","x":510,"y":300,"wires":[]}]