node-red/flows_89be36a3f933.json
[{"id":"945bd6b0.6afc68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf02559a.d94d38","type":"inject","z":"945bd6b0.6afc68","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":340,"wires":[["d6512767.00fc38"]]},{"id":"dbc1ed05.c0a1c","type":"debug","z":"945bd6b0.6afc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":340,"wires":[]},{"id":"ab496b7f.6a69f8","type":"comment","z":"945bd6b0.6afc68","name":"hi hello","info":"","x":130,"y":140,"wires":[]},{"id":"7a16fe15.c269","type":"comment","z":"945bd6b0.6afc68","name":"","info":"Don't forget to add the storage for sent messages","x":540,"y":240,"wires":[]},{"id":"6cf14d7b.f06ff4","type":"hash-submit","z":"945bd6b0.6afc68","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":370,"y":240,"wires":[[]]},{"id":"42bf20a9.6e723","type":"hash-retrieve","z":"945bd6b0.6afc68","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":770,"y":340,"wires":[["2ab082af.35f62e"]]},{"id":"de388fe1.0fb17","type":"hash-submit","z":"945bd6b0.6afc68","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":390,"y":340,"wires":[["ad851262.5861a"]]},{"id":"ad851262.5861a","type":"delay","z":"945bd6b0.6afc68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":340,"wires":[["42bf20a9.6e723"]]},{"id":"a8045db7.cbef2","type":"http in","z":"945bd6b0.6afc68","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["f42a83e3.63733"]]},{"id":"f42a83e3.63733","type":"function","z":"945bd6b0.6afc68","name":"add payload","func":"\n\nmsg.payload =\"<html><body><h1>Hello Benjamin. I've been waiting for you.</h1></body></html>\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":520,"wires":[["19b9888c.153857"]]},{"id":"19b9888c.153857","type":"http response","z":"945bd6b0.6afc68","name":"","statusCode":"200","headers":{},"x":580,"y":520,"wires":[]},{"id":"5731d375.ee2bcc","type":"http in","z":"945bd6b0.6afc68","name":"","url":"/list","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["ceeb7b00.f723d8"]]},{"id":"ceeb7b00.f723d8","type":"hash-retrieve","z":"945bd6b0.6afc68","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":310,"y":420,"wires":[["abd1c864.6a87c8"]]},{"id":"abd1c864.6a87c8","type":"http response","z":"945bd6b0.6afc68","name":"","statusCode":"","headers":{},"x":450,"y":420,"wires":[]},{"id":"d6512767.00fc38","type":"function","z":"945bd6b0.6afc68","name":"","func":"msg.payload = \"Hello World\"\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["de388fe1.0fb17"]]},{"id":"2ab082af.35f62e","type":"function","z":"945bd6b0.6afc68","name":"","func":"function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["dbc1ed05.c0a1c"]]},{"id":"207ff4be.8fe86c","type":"http in","z":"945bd6b0.6afc68","name":"","url":"/demo/revoke-id","method":"get","upload":false,"swaggerDoc":"","x":330,"y":760,"wires":[["6649b75b.d85b88"]]},{"id":"54a9ea54.8deba4","type":"http in","z":"945bd6b0.6afc68","name":"","url":"/demo/generate-did","method":"get","upload":false,"swaggerDoc":"","x":350,"y":640,"wires":[["6649b75b.d85b88"]]},{"id":"9d56a67c.b661f8","type":"http in","z":"945bd6b0.6afc68","name":"","url":"/demo/id","method":"get","upload":false,"swaggerDoc":"","x":370,"y":920,"wires":[[]]},{"id":"6649b75b.d85b88","type":"hash-retrieve","z":"945bd6b0.6afc68","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":610,"y":720,"wires":[["8aa12ba9.c45aa8"]]},{"id":"384fce11.d43ec2","type":"hash-submit","z":"945bd6b0.6afc68","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":1350,"y":660,"wires":[["98b95855.171018"]]},{"id":"8aa12ba9.c45aa8","type":"function","z":"945bd6b0.6afc68","name":"get the data from dragonglass","func":"function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":700,"wires":[["a945bd77.12498"]]},{"id":"98b95855.171018","type":"http response","z":"945bd6b0.6afc68","name":"","statusCode":"","headers":{},"x":1550,"y":740,"wires":[]},{"id":"a945bd77.12498","type":"switch","z":"945bd6b0.6afc68","name":"","property":"payload.switch","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":700,"wires":[["384fce11.d43ec2"],["98b95855.171018"]]}]