node-red/flows_5cfd7ef4eb80.json
[{"id":"89a8a9f3.f3e8d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"40ac534.1b224ac","type":"tab","label":"Achievements ","disabled":false,"info":"This is a test to having an achievements dashboard backed by HCS"},{"id":"ee4f79f1.fd0bb8","type":"websocket-listener","z":"","path":"/testing","wholemsg":"false"},{"id":"bb8d508f.290d2","type":"inject","z":"89a8a9f3.f3e8d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":340,"wires":[["583b785.5069c88"]]},{"id":"c8e3253a.7969e8","type":"debug","z":"89a8a9f3.f3e8d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":340,"wires":[]},{"id":"d55f0f4c.8d27e","type":"comment","z":"89a8a9f3.f3e8d8","name":"hi","info":"","x":350,"y":60,"wires":[]},{"id":"f0da87da.dc6bf8","type":"comment","z":"89a8a9f3.f3e8d8","name":"","info":"Don't forget to add the storage for sent messages","x":620,"y":140,"wires":[]},{"id":"7bb0b0bc.eea4f","type":"hash-submit","z":"89a8a9f3.f3e8d8","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":390,"y":140,"wires":[[]]},{"id":"8195de16.7dc3d","type":"hash-retrieve","z":"89a8a9f3.f3e8d8","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":770,"y":340,"wires":[["5ce6821f.447b4c"]]},{"id":"bfa9488b.590cd8","type":"hash-submit","z":"89a8a9f3.f3e8d8","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":390,"y":340,"wires":[["6c72fca5.307714"]]},{"id":"6c72fca5.307714","type":"delay","z":"89a8a9f3.f3e8d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":340,"wires":[["8195de16.7dc3d"]]},{"id":"d6329a0b.fc5d08","type":"http in","z":"89a8a9f3.f3e8d8","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["f0c9f495.22d458"]]},{"id":"f0c9f495.22d458","type":"function","z":"89a8a9f3.f3e8d8","name":"add payload","func":"\n\nmsg.payload =\"<html><body><h1>Hello Benjamin. I've been waiting for you.</h1></body></html>\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":520,"wires":[["1708fc64.cffa74"]]},{"id":"1708fc64.cffa74","type":"http response","z":"89a8a9f3.f3e8d8","name":"","statusCode":"200","headers":{},"x":580,"y":520,"wires":[]},{"id":"90eceeee.ca3f","type":"http in","z":"89a8a9f3.f3e8d8","name":"","url":"/list","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["919c8e2d.60225"]]},{"id":"919c8e2d.60225","type":"hash-retrieve","z":"89a8a9f3.f3e8d8","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":310,"y":420,"wires":[["5635acaf.356434"]]},{"id":"5635acaf.356434","type":"http response","z":"89a8a9f3.f3e8d8","name":"","statusCode":"","headers":{},"x":450,"y":420,"wires":[]},{"id":"583b785.5069c88","type":"function","z":"89a8a9f3.f3e8d8","name":"","func":"msg.payload = \"Hello World\"\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["bfa9488b.590cd8"]]},{"id":"5ce6821f.447b4c","type":"function","z":"89a8a9f3.f3e8d8","name":"","func":"function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["c8e3253a.7969e8"]]},{"id":"1b9bc086.e217af","type":"http in","z":"40ac534.1b224ac","name":"API","url":"/api/submit","method":"post","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["291246c6.da114a","15acf8a6.8d8607"]]},{"id":"15acf8a6.8d8607","type":"debug","z":"40ac534.1b224ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":540,"wires":[]},{"id":"d076efbc.b32a1","type":"http response","z":"40ac534.1b224ac","name":"","statusCode":"200","headers":{},"x":860,"y":260,"wires":[]},{"id":"5ca89133.89215","type":"hash-retrieve","z":"40ac534.1b224ac","name":"hash-retrieve","topicId":"0.0.41536","network":"testnet","apiKey":"af41ab078a56deacdbafed1e66ffc574290daad5","x":330,"y":440,"wires":[["16bb6335.b3fc1d"]]},{"id":"16bb6335.b3fc1d","type":"function","z":"40ac534.1b224ac","name":"","func":"// get the relevant events from HCS.\n\nfunction hex_to_ascii(str1){\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n}\n\nlet hcs = JSON.parse(msg.payload);\n\nvar newArray = hcs.data.map(function(item){\n    return hex_to_ascii(item.message);\n});\n\n \nmsg.payload = newArray;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["15acf8a6.8d8607"]]},{"id":"291246c6.da114a","type":"function","z":"40ac534.1b224ac","name":"","func":"msg.payload = msg.req.query;\ndelete msg.req;\ndelete msg.res;\nmsg.payload = \"helo\"\n// overwrite the payload with the body of the request.\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["27022183.0892de","15acf8a6.8d8607"]]},{"id":"27022183.0892de","type":"hash-submit","z":"40ac534.1b224ac","name":"hash-submit","priv":"302e020100300506032b6570042204209774270bde2b5d40ce4f588fd72eeddd4e972193b82ffce3b2ca27558d0d2c83","accountId":"0.0.30707","network":"testnet","topic":"0.0.41536","x":550,"y":240,"wires":[["d076efbc.b32a1","15acf8a6.8d8607"]]}]